h1 {
    color: orangered;
    margin: 20px;
}

body {
    background-image: url(images/orangeFish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Chewy', cursive;
    font-size: 1.5em;
}

.intro {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    
}

#generate-form {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.input {
    margin: 10px;
    border-radius: 5px;
    padding:10px;
}

.size {
    margin: 10px;
    border-radius: 5px;
    padding:10px;
}

.gen-button {
    margin: 10px;
    border-radius: 5px;
    padding:10px;
    background-color: orangered;
    color: white;
    display: flex;
}

.gen-button:hover {
    background-color: orange;
    color: white;
}

.output {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

#save-link{
   text-decoration: none;
   margin: 10px;
   border-radius: 5px;
   padding:10px;
   background-color: orangered;
   color: white;
   display: flex;
  }

  #save-link:hover {
    background-color: orange;
    color: white;
}