h1 {
    color: orangered;
    margin: 5px;
    text-align: center;
    padding: 20px;
    font-size: 3.6rem;
}

body {
    background-image: url(images/orangeFish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Chewy', cursive;
    font-size: 1.5em;
}

main {
    width: 600px;
    margin: 0 auto;
}

.intro {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 0px 20px 0px 20px;
    margin: 5px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

#generate-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    
}

.input {
    margin: 0px;
    border-radius: 5px;
    padding:8px;
    width: 200px;
}

.size {
    margin: 0px;
    border-radius: 5px;
    padding:8px;
    width: 150px;
}

.gen-button {
    margin: 0px;
    border-radius: 5px;
    padding:10px;
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    font-family: Chewy;
    font-size: 1em;
}

.gen-button:hover {
    background-color: orange;
    color: white;
}

.output {
    display: none;
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;

}

#save-link{
    text-decoration: none;
    margin: 15px;
    border-radius: 5px;
    padding:10px;
    background-color: orangered;
    color: white;
    max-width: fit-content;
    display: flex;
    border: 2px solid black;
  }

  #save-link:hover {
    background-color: orange;
    color: white;

}

#qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
}

#generated {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    display: inline;
    margin-right: 2px;
    border-top: 16px solid orangered;
    border-radius: 50%;
    width: 124px;
    height: 124px;
    animation: spin 2s linear infinite;
}
